// Mixin
@use '../../../_variable.scss' as *;
@use '../../../_mixin.scss' as *;

/* ========== HEADER ========== */
#details_header{
    @include flexFuction(flex-start,flex-start,"","",wrap);
    width: 100%; /* Remove after adding swiper js */
    border-radius: 1.25rem 1.25rem 0 0;
    overflow: hidden;
    box-shadow: 4px 4px 3px 4px #020e1a;
    margin-top: 20px;
    padding: 10px;

    .details_image{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
                
        & .details_image_lazy{
            height: 350px;
            width: 100%;
            @include objectFitMixin(fill);
        }
    }

    .details_info{
        @include flexFuction(flex-start,flex-start,"",column,"");
        height: 100%;
        width: 70%;
    
        .details_info_title{
            width: 100%;
            border-radius: 0 20px 0 0;
            padding: 10px 20px;
            border-bottom: 1px solid $second-color;
        
            h1{
                width: 100%;
                color: $second-color;
                font-size: $h1-font-size;
                padding: 10px 0;
                text-align: start;
            }
        }
    
        .details_info_tipo_projecto{
            width: 100%;
            border-radius: 0 20px 0 0;
            padding: 20px;
            border-bottom: 1px solid $second-color;
        
            span{
                color: $second-color;
                font-size: $h11-font-size;
                padding: 10px 20px;
                text-align: start;
                border: 1px solid $second-color;
                border-radius: 10px;
                font-weight: 700;

                &:hover{
                    color: $white-color;
                    border: 1px solid $white-color;
                }
            }
        }
    
        
        .details_info_category{
            width: 100%;
            border-radius: 0;
            padding: 10px 20px;
            @include flexFuction("","",1rem,"",wrap);
            margin-top: 10px;
            
            &.border-line{
                border-bottom: 1px solid $second-color;
            }
            &.border-double-line{
                @include flexFuction(center,"",1rem,"",wrap);
                border-top: 1px solid $second-color-hsl;
                border-bottom: 1px solid $second-color-hsl;
            }
        
            a{
                color: $second-color;
                font-size: $normal-font-size;
                padding: 10px 20px;
                text-align: start;
                border: 1px solid $second-color;
                border-radius: 10px;
    
                &:hover{
                    border: 1px solid $white-color;
                    color: $white-color;
                }

                &.special{
                    border: 1px solid $second-color-hsl;
                    color: $second-color-hsl;
                    font-weight: 700;
                    font-size: 1.4rem;

                    &:hover{
                        border: 1px solid $white-color;
                        color: $white-color;
                    }
                }
            }
        }
    
        .details_info_git_live_projecto{
            width: 100%;
            border-radius: 0 2rem 0 0;
            padding: 1rem 2rem;
            @include flexFuction(flex-start,center,1rem,"",wrap);
            margin-top: 20px;
        
            button{
                color: $white-color;
                font-size: $normal-font-size;
                padding: 1rem 2rem;
                text-align: start;
                border: 0.1rem solid $white-color;
                border-radius: 1rem;
    
                &:hover{
                    border: 0.1rem solid $second-color;
                    color: $second-color;
                }
                &.active{
                    border: 0.1rem solid $second-color-hsl;
                    color: $second-color-hsl;
                }
            }
        }
    }
}

/* Media */
@media screen and (max-width: 820px) {
    #details_header{
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;

        .details_image{
            width: 100%;
            & .details_image_lazy{
                height: 350px;
                width: 350px;
                @include objectFitMixin(fill);
            }
        }

        .details_info{
            align-items: center;
    
            .details_info_title{
                & h1{
                    text-align: center;
                }
            }
            .details_info_tipo_projecto{
                text-align: center;
            }
            .details_info_category, .details_info_git_live_projecto{
                justify-content: center;
            }
        }
    }
}
